In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [19]:
query = """
SELECT * FROM yellow_taxi_trips LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,...,0.50,0.5,0.00,0.0,None,0.3,19.30,2,1.0,0.0
1,1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,...,3.25,0.5,0.00,0.0,None,0.3,9.05,2,1.0,0.0
2,2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,...,0.50,0.5,0.00,0.0,None,0.3,22.80,2,1.0,0.0
3,3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,...,0.50,0.5,0.00,0.0,None,0.3,6.80,2,1.0,0.0
4,4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,...,0.50,0.5,2.26,0.0,None,0.3,13.56,1,1.0,0.0
5,5,2,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1,65,49,1,1.47,...,0.50,0.5,1.86,0.0,None,0.3,11.16,1,1.0,0.0
6,6,1,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1,7,179,1,0.60,...,0.50,0.5,1.00,0.0,None,0.3,6.30,1,1.0,0.0
7,7,2,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1,41,74,1,0.56,...,0.50,0.5,0.00,0.0,None,0.3,5.80,2,1.0,0.0
8,8,2,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1,255,49,1,2.42,...,0.50,0.5,0.00,0.0,None,0.3,11.80,2,1.0,0.0
9,9,1,2019-10-01 00:03:03,2019-10-01 00:17:13,Y,1,130,131,1,3.40,...,0.50,0.5,2.85,0.0,None,0.3,17.15,1,1.0,0.0

In [12]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

In [10]:
df_segment = pd.read_csv("taxi_zone_lookup.csv")

In [11]:
df_segment.to_sql(name='zones', con=engine, if_exists='replace')

265

In [9]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,None,2021-01-05 10:38:40,2021-01-05 10:46:20,None,1.30,None,None,170,161,None,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1,None,2021-01-05 10:17:14,2021-01-05 10:41:21,None,7.90,None,None,216,198,None,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
2,None,2021-01-05 10:39:00,2021-01-05 10:46:00,None,0.98,None,None,62,62,None,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
3,None,2021-01-05 10:05:00,2021-01-05 10:19:00,None,1.59,None,None,85,71,None,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
4,None,2021-01-05 10:18:08,2021-01-05 10:41:40,None,9.87,None,None,236,208,None,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0
5,None,2021-01-05 10:06:19,2021-01-05 10:26:11,None,10.28,None,None,185,235,None,22.93,0.0,0.5,2.75,0.00,0.3,26.48,0.0
6,None,2021-01-05 10:10:02,2021-01-05 10:28:14,None,7.14,None,None,55,155,None,24.42,0.0,0.5,2.75,0.00,0.3,27.97,0.0
7,None,2021-01-05 10:49:03,2021-01-05 11:02:57,None,1.50,None,None,236,161,None,12.50,0.0,0.5,3.16,0.00,0.3,18.96,2.5
8,None,2021-01-05 10:01:50,2021-01-05 11:01:03,None,11.81,None,None,265,92,None,31.68,0.0,0.5,0.00,0.00,0.3,32.48,0.0
9,None,2021-01-05 10:43:18,2021-01-05 11:06:16,None,9.78,None,None,83,244,None,28.46,0.0,0.5,2.75,6.12,0.3,38.13,0.0